{namespace osm=In2code\Osm\ViewHelpers}
<osm:backend.editLink identifier="{data.uid}">
    <f:if condition="{data.header}"><h2 style="margin-top: 12px;">{data.header}</h2></f:if>
    <h3>
        <f:image src="EXT:osm/Resources/Public/Icons/Extension.svg" width="30" alt="OSM Extension" />
        <f:translate key="LLL:EXT:osm/Resources/Private/Language/locallang_db.xlf:pi1.title">OSM</f:translate>
    </h3>
    <f:if condition="{flexForm.settings.mode} == 0">
        <f:then>
            <f:if condition="{flexForm.settings.address}">
                <f:then>
                    <p>{flexForm.settings.address}</p>
                </f:then>
                <f:else>
                    <f:render section="failure" arguments="{_all}"/>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{flexForm.settings.latitude} && {flexForm.settings.longitude}">
                <f:then>
                    <p>
                        {flexForm.settings.latitude}<br />
                        {flexForm.settings.longitude}
                    </p>
                </f:then>
                <f:else>
                    <f:render section="failure" arguments="{_all}"/>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</osm:backend.editLink>


<f:section name="failure">
    <div class="alert alert-warning" role="alert">
        No address or geo coordinates given
    </div>
</f:section>
